@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Sawarabi+Mincho');

html, body {
	height: 100%;
	width: 100%;
}

#header {
  margin: 40px;
  font-size: 40px;
}

.block {
	padding-top: 3%;
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: row;
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 0.5%;
  border-radius: 5%;
  padding: 15px;
  width: 50%;
  height: 100%;
  background-color: #f7f7f7;
}

#content .title {
	align-self: center;
	margin-top: 10%;
  width: 80%;
}

#content .subtitle {
	margin-top: 10%;
	margin-left: 10%;
	margin-bottom: 0;
}

#content .subtitle .header {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 40px;
  font-family: 'Noto Sans TC', sans-serif;
}

#content .article {
	margin-top: 5%;
	margin-left: 10%;
}

#content .article .text {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 33px;
	font-weight: normal;
  font-family: 'Noto Sans TC', sans-serif;
}

#content .article .text--bottom {
	margin-top: 5%;
}

#app {
  height: 100%;
}

#app .person {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app .person .name {
  font-size: 33px;
  font-family: 'Noto Sans TC', sans-serif;
  margin-left: 15%;
}

#app .person .name--top {
  margin-top: 30%;
}

#app .person .name--japan {
  font-family: 'Sawarabi Mincho', sans-serif;
}

#app .person .quote {
  margin-top: 10%;
  margin-left: 13%;
  width: 15%;
}

#app .person .name--bottom {
  margin-top: 3%;
}

#app .person .back {
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 8%;
	cursor: pointer;
}

#members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 0.5%;
  border-radius: 5%;
	background-color: #f7f7f7;
	width: 50%;
}

.row {
  display: flex;
  margin: 0.2%;
  align-items: center;
}

.row.first {
	padding-left: 100px;
}

.row.third {
	padding-right: 100px;
}

#content .text {
  display: flex;
  font-size: 16px;
  margin: 5px;
}
#members .frame {
  margin: 5px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

#members .frame.showing {
  width: 450px;
  height: 450px;
}

#members .frame.showingBottom {
	margin-left: 120px;
  width: 450px;
  height: 450px;
}

#members .frame.showingTop {
	margin-right: 120px;
  width: 450px;
  height: 450px;
}
